@import url(./variable.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

body{
    position: relative;
}

.pop-up-modal{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 10px 20px;
    top: 10%;
    left: calc((100% - 300px)/2);
    background-color: white;
    border: 2px solid black;
    z-index: 4;
}
/* start: custom login modal */
.modal-backdrop.show{
    z-index: 2;
}
#exampleModalCenter{
    z-index: 3;
}
/* end */

.herosection {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.herosection>a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transition: scale 0.25s ease-in-out;
}
.herosection>a>img:hover{
    scale: 1.05;
    cursor: pointer;
}

.herosection {
    padding-top: 1px;
}

.herosection>div {
    position: absolute;
    display: flex;
    flex-direction: column;
    grid-area: 20px;
    bottom: 65px;
    left: 65px;
    z-index: 2;
}

.herosection>div>h1 {
    color: var(--primary-color);
}

.herosection>div>button {
    width: 116px;
    height: 42px;
    color: var(--accent-color);
    border: none;
    outline: none;
}

.section-2 {
    display: flex;
    flex-direction: column;
    padding: 1.875em;
    gap: 3.125em;
}

.section-2>p {
    padding: 1.25em;
}

.section-2-items {
    display: flex;
    gap: 1.25em;
}

.section-2-items-item {
    flex: 1;
    aspect-ratio: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    padding: 1.875em;
    overflow: hidden;
}

.section-2-items-item>img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    transition: scale 0.25s ease-in-out
}
.section-2-items-item>img:hover{
    scale: 1.05;
    cursor: pointer;
}

.section-2-items-item>p {
    position: relative;
    color: white;
    z-index: 2;
}
.section-3{
    padding-inline: 1.875em;
    display: flex;
    flex-direction: column;
    margin-top: 2.5em;
    gap: 4.0625em;
}
.section-3 > h3{
    font-size: 1.125rem;
    text-transform: capitalize;
}
.section-3-items{
    display: flex;
    gap: 1.25em;
    width: 100%;
}
.section-3-item{
    flex: 1;
    overflow: hidden;
}
.section-3-item>.section-3-item-upper {
    position: relative;
    overflow: hidden;
}
.section-3-item>.section-3-item-upper >img:first-child{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 3/4;
    transition: scale 0.25s ease-in-out;
}
.section-3-item>.section-3-item-upper >img:first-child:hover{
    scale: 1.05;
    cursor: pointer;
}
.section-3-item>.section-3-item-upper >img:last-child{
    position: absolute;
    right: 15px;
    bottom: 15px;   
}
.section-3-item-lower{
    padding: 0.9375em 0;
}
.section-4{
    display: flex;
    gap: 1.25em;
    padding: 1.875em;
}
.section-4-item{
    position: relative;
    flex: 1;
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
}
.section-4-item > p{
    position: absolute;
    color: white;
    left: 30px;
    bottom: 30px;
    font-size: 1.125rem;
}
.section-4-item:nth-child(1){
    background-image: url(/assets/images/section4-item1.png);
}
.section-4-item:nth-child(2){
    background-image: url(/assets/images/section4-item2.png);
}
.section-5{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding: 6em 1.875em 11.25em 1.875em;
}
.section-5 > h3{
    text-align: center;
}
.section-5 > p{
    text-align: center;
    max-width: 700px;
    width: 100%;
}
.section-6{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.875em;
    gap: 3.125em;
}
.section-6-list {
    width: 100%;
    display: flex;
    gap: 1.25em;
}
.section-6-list > div{
    flex: 1;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.section-6-list-item1{
    background-image: url(/assets/images/section6-item1.png);
}
.section-6-list-item2{
    background-image: url(/assets/images/section6-item2.png);
}
.section-6-list-item3{
    background-image: url(/assets/images/section6-item3.jpg);
}
.section-6-list-item4{
    background-image: url(/assets/images/section6-item4.png);
}
.section-6-list-item5{
    background-image: url(/assets/images/section6-item5.png);
}
/* Tablet */
@media (min-width: 768px) and (max-width: 1260px) {
    html {
        font-size: 14px;
    }
}

/* Mobile */
@media (min-width: 320px) and (max-width: 768px) {
    html {
        font-size: 12px;
    }
    .herosection>div {
        left: 30px;
    }

    .section-2-items {
        flex-direction: column;
    }
    
    .section-3-items{
        overflow-x: scroll;
    }
    .section-3-item>.section-3-item-upper{
        height: 200px;
    }
    .section-4{
        flex-direction: column;
    }
    .section-6-list{
        overflow-x: scroll;
    }
    .section-6-list > div{
        height: 200px;
    }
}   