* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

.header-top {
    width: 100%;
    height: 45px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-top > p{
    text-align: center;
}
.header-bottom {
    background-color: white;
    padding-inline: 1.875em;
}

.herosection {
    width: 100%;
    height: 100vh;
    position: relative;
}

.herosection>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.header-bottom-list {
    display: flex;
    gap: 1.25em;
}

.header-bottom-left-menu {
    display: flex;
    align-items: center;
    gap: 1.25em;
}

.header-bottom-left-menu img {
    cursor: pointer;
}

.header-bottom-menu-icon {
    color: black;
    font-size: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.herosection {
    padding-top: 1px;
}

.herosection>div {
    position: absolute;
    display: flex;
    flex-direction: column;
    grid-area: 20px;
    bottom: 65px;
    left: 65px;
    z-index: 2;
}

.herosection>div>h1 {
    color: white;
}

.herosection>div>button {
    width: 116px;
    height: 42px;
    color: black;
    border: none;
    outline: none;
}

.section-2 {
    display: flex;
    flex-direction: column;
    padding: 1.875em;
    gap: 3.125em;
}

.section-2>p {
    padding: 1.25em;
}

.section-2-items {
    display: flex;
    gap: 1.25em;
}

.section-2-items-item {
    flex: 1;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    padding: 1.875em;
    overflow: hidden;
}

.section-2-items-item>img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
}

.section-2-items-item>p {
    position: relative;
    color: white;
    z-index: 2;
}
.section-3{
    padding-inline: 1.875em;
    display: flex;
    flex-direction: column;
    margin-top: 2.5em;
    gap: 4.0625em;
}
.section-3 > h3{
    font-size: 1.125rem;
    text-transform: capitalize;
}
.section-3-items{
    display: flex;
    gap: 1.25em;
}
.section-3-item{
    flex: 1;
}
.section-3-item>.section-3-item-upper {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    aspect-ratio: 3/4;
}
.section-3-item>.section-3-item-upper >img{
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.section-3-item:nth-child(1)>.section-3-item-upper {
    background-image: url(/assets/images/section3-item1.png);
}
.section-3-item:nth-child(2)>.section-3-item-upper {
    background-image: url(/assets/images/section3-item2.png);
}
.section-3-item:nth-child(3)>.section-3-item-upper {
    background-image: url(/assets/images/section3-item3.png);
}
.section-3-item:nth-child(4)>.section-3-item-upper {
    background-image: url(/assets/images/section3-item4.png);
}
.section-3-item:nth-child(5)>.section-3-item-upper {
    background-image: url(/assets/images/section3-item5.png);
}   
.section-3-item-lower{
    padding: 0.9375em 0;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1260px) {
    html {
        font-size: 14px;
    }
}

/* Mobile */
@media (min-width: 320px) and (max-width: 768px) {
    html {
        font-size: 12px;
    }

    .header-bottom {
        padding-inline: 1.25em;
    }

    .herosection>div {
        left: 30px;
    }

    .section-2-items {
        flex-direction: column;
    }
    
    .section-3-items{
        overflow-x: scroll;
    }
    .section-3-item>.section-3-item-upper{
        height: 200px;
    }

}