<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <div>
            <label for="">Email: </label>
            <input name="useremail" type="email">
        </div>
        <div>
            <label for="">Name: </label>
            <input name="user" type="text" name="" id="">
        </div>
        <div>
            <label for="">Password</label>
            <input name="userpassword" type="password">
        </div>
        <button>Submit</button>
    </form>
    <script type="module" src="./sign-up-box.js"></script>
</body>
</html>