<!-- wishlist modal -->
<div class="wish-list-modal">
</div>

<!-- wshlist modal box -->
<div class="wish-list-modal-box">
    <div class="offcanvas-header" style="padding: 1rem;">
        <h5 id="offcanvasRightLabel">Wishlist</h5>
        <button type="button" class="btn-close text-reset wishlist-close" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
    </div>
    <div class="wish-list-modal-box-items">

        <button class="wishlist-btn-add-to-cart roboto-400">Add To Cart</button>

    </div>
</div>