* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.account-option-item.active{
    text-decoration: underline!important;
}
.edit:hover{
    background-color: black!important;
    color: white!important
}
/* Tablet */
@media (min-width: 768px) and (max-width: 1260px) {
    html{
        font-size: 0.875rem;
    }
    
    .container-fluid > .row {
        display: flex;
        flex-direction: column-reverse;
    }

    .col-9 > .row {
        display: flex;
        flex-direction: column; 
    }

    .col-9, .col-4, .col {
        width: 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
        padding-left: 0.9375em !important;
        padding-right: 0.9375em !important;
        margin: 0 !important;
    }

    .avatar-section {
        align-items: center;
        margin-bottom: 2em;
    }

    .avatar-section img {
        margin-left: 0 !important;
    }

    .avatar-section .upload-img {
        margin-left: 0 !important;
        text-align: center;
    }

    .option-bar > .option-list {
        flex-direction: row !important;
        margin-left: 0 !important;
        padding-bottom: 10px;
    }

    .account-option-item {
        margin-right: 20px;
    }
}

/* Mobile */
@media (min-width: 320px) and (max-width: 768px) {
    html{
        font-size: 0.75rem;
    }
    .container-fluid > .row {
        display: flex;
        flex-direction: column-reverse;
        
    }
    
    .col-9 > .row {
        display: flex;
        flex-direction: column; 
    }

    .col-9, .col-4, .col {
        width: 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
        padding-left: 0.9375em !important;
        padding-right: 0.9375em !important;
        margin: 0 !important;
    }

    .avatar-section {
        align-items: center;
        margin-bottom: 2em;
    }
    .avatar-section img {
        margin-left: 0 !important;
    }
    .avatar-section .upload-img {
        margin-left: 0 !important;
        text-align: center;
    }

    .form-data {
        flex-direction: column !important;
        align-items: flex-start !important;
    }
    .form-data label {
        width: 100% !important;
        margin-bottom: 8px;
        font-weight: 600;
    }
    .form-data .edit {
        margin-left: 0 !important;
        margin-top: 10px;
    }

    .option-bar > .option-list {
        flex-direction: row !important;
        margin-left: 0 !important;
        padding-bottom: 10px;
    }
    .account-option-item {
        margin-right: 20px;
    }
}