* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.data-analysis-item{
    width: 25%;
    height: 10em;
    background-color: brown;
    color: white;
    margin: 1.25em;
}
.manage-option-item.active{
    text-decoration: underline!important;
}
/* Tablet */
@media (min-width: 768px) and (max-width: 1260px) {
    html{
        font-size: 0.875rem;
    }
    .container-fluid {
        padding-left: 0 !important;
        padding-right: 0 !important;
        font-size: 1.25rem;
    }
    .container-fluid > .row{
        display: flex;
        flex-direction: column-reverse;
    }

    .manage-bar > .manage-list{
        display: flex;
        flex-direction: row!important;
        
    }

    .manage-bar > .manage-list > .manage-option-item{
        margin-right: 1.25em;
    }
    
    .col-9, .col{
        width: 100% !important;
    }
    
    .col-9 > .row {
        margin-right: 0 !important;
        margin-left: 0 !important;
        display: flex;
        flex-direction: column;
        max-width: 95%;
    }

    .row > .col-9{
        padding: 2em!important;
    }

    .top-selling-data > img, .low-stock > img, .circle-chart > img{
        max-width: 100%!important;
        height: auto;
    }

    .data-chart-top-selling-inventory{
        display: flex;
        flex-direction: column;
    }
}

/* Mobile */
@media (min-width: 320px) and (max-width: 768px) {
    html{
        font-size: 0.75rem;
    }

    .container-fluid {
        padding-left: 0 !important;
        padding-right: 0 !important;
        font-size: 1rem;
    }
    .container-fluid > .row{
        display: flex;
        flex-direction: column-reverse;
        margin: 0!important;
    }

    .manage-bar > .manage-list{
        display: flex;
        flex-direction: row!important;
        
    }

    .manage-bar > .manage-list > .manage-option-item{
        margin-right: 1.25em;
    }

    .col-9, .col{
        width: 100% !important;
        padding: 1.25em!important;
        margin: 0 !important;
    }

    .data-analysis{
        flex-direction: column;
        width: 100%;
    }

    .data-analysis > .data-analysis-item{
        width: 100%;
    }
    .col-9 > .row {
        margin-right: 0 !important;
        margin-left: 0 !important;
        display: flex;
        flex-direction: column;
    }
    .top-selling-data > img, .low-stock > img, .circle-chart > img{
        max-width: 100%!important;
        height: auto;
    }
}